/*整体*/
.myCalculator {
    background-color: rgba(184, 219, 237, 0.5);
    font-family: Arial, sans-serif;
    border: 1px solid rgb(135, 135, 135);
    border-radius: 20px;
    height: 600px;
    width: 560px;
    margin: auto;
}

/*标题部分*/
.header h1{
    text-align: center;
    color: #0f7f0f;
    font-weight:900;
    font-size: 45px;
}

/*主体部分*/
.main {
    background-color: #d9e4f1;
    border: 1px solid rgb(135, 135, 135);
    height: 460px;
    width: 470px;
    margin: auto;
}

/*输出区域的相关设置*/
.output-area {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.output-area input{
    background: linear-gradient(to bottom, #e5effa, #feffff);
    border: 1px solid rgb(135, 135, 135);
    border-radius: 5px;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    width: 430px;
}

/*按钮的相关设置*/
.button-area input {
    transition: all 0.5s;
    background-color: #edf3f8;
    border:1px outset rgb(135, 135, 135);
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    height: 65px;
    width: 100px;
    margin-left: 11px;
    margin-top: 10px;
}

/*鼠标处于按钮上时的变化*/
.button-area input:hover {
    background-color: #ffd16f;
    border-color: darkorange;
}

/*鼠标点击按钮时的变化*/
.button-area input:active {
    transition: all 0.2s;
    background-color: #f5bc59;
    border-style: inset;
}
